#home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-color: black;
}

.logo-bottom {
    height: 60vh;
    display: flex;
    flex-direction: row;
    /* align-items: stretch; */
    justify-content: space-around;
    background-color: black;
}
.about{
    width: 100vh;
    /* display: flex; */
    /* align-items: center; */
    justify-content: center;
}